body {
    font-family: 'Roboto', sans-serif;
}

.App {
    height: 100vh;
    width: 100vw;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}

/* ----------------------------------------- Header -----------------------------------------------*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C2D9FF;
    height: 60px;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 100;
}
.mobile-menu-toggle {
  display: none;
}

.hamburger {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  position: relative;
  transition: background-color 0.3s ease;
}

.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  position: absolute;
  transition: transform 0.3s ease;
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  top: 8px;
}

.list-items {
  display: flex;
  padding: 0;
  margin: 0;
}

.list-item {
  list-style: none;
  margin-left: 20px;
}

.list-item a {
  display: block;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.list-item:last-child a {
  border-bottom: none;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .navbar-toggle {
      display: block; 
  }

  .list-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #c2d9ff;
  }
  
  .list-items.mobile-menu-open {
    display: flex;
  }
  

  .list-item {
      margin: 0; 
  }

  .list-item a {
      display: block;
      padding: 15px 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .list-item:last-child a {
      border-bottom: none; 
  }

  .navbar-toggle:focus + .list-items,
  .navbar-toggle:active + .list-items {
      display: flex;
  }

  .navbar-toggle:focus .hamburger,
  .navbar-toggle:active .hamburger {
      background-color: transparent;
  }

  .navbar-toggle:focus .hamburger::before,
  .navbar-toggle:active .hamburger::before {
      transform: rotate(45deg) translate(5px, 5px);
  }

  .navbar-toggle:focus .hamburger::after,
  .navbar-toggle:active .hamburger::after {
      transform: rotate(-45deg) translate(5px, -5px);
  }
}

/* ----------------------------------------- Home ------------------------------------------------*/

.home-content {
    padding-left: 20rem;
}

.home-title {
    font-size: 5rem;
    
}

.home-description {
    font-size: 2rem;
    padding-left: 1rem;

}

.home-button {
    padding-left: 1rem;
}


/* ------------------------------------------About Us---------------------------------------------*/

.title{
    padding-left: 45rem;
    margin-top: 1.5rem;
}

.subtitle{
    padding-left: 45.5rem;
    margin-top: 1rem;
}

.cards{
    padding-left: 3.5rem;
    margin-top: 4.5rem;
    display: flex;
    flex-direction: row;
}

.card{
    margin-left: 5rem;
    border: none;
}

/*------------------------------------------------- Services ---------------------------------------*/

  .services-heading {
    font-size: 32px; 
    color: #333; 
  }
  
  .services-intro {
    font-size: 18px; 
    color: #666; 
  }
  
  .service {
    margin-bottom: 20px; 
  }
  
  .service h2 {
    font-size: 24px; 
    color: #333; 
  }
  
  .service p {
    font-size: 16px; 
    color: #666; 
  }

  /*-------------------------------------------- Testimonials -------------------------------------------*/

.testimonials-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title-t {
  padding-left: 42rem;
  margin-top: 1.5rem;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimonial {
  width: 48%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.testimonial-image {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  border-radius: 50%; 
  overflow: hidden; 
}

.testimonial-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stars {
  display: flex;
  margin-bottom: 10px;
}

.star {
  color: #ffc107; /* Color for filled star */
  font-size: 20px;
  margin-right: 5px;
}

.comment {
  font-size: 16px;
  line-height: 1.6;
}

  

/*-------------------------------------- Contact Us ------------------------------------------*/

.subtitle-c{
    padding-left: 46rem;
    margin-top: 1rem;
}
.contacts ul li{
    list-style: none;
    margin-top: 3rem;
}

/*---------------------------------------- Footer --------------------------------------------*/

footer {
    background-color: #C2D9FF;
    padding: 20px 0; 
    text-align: center;
  }
  
  #footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer_title {
    flex: 1;
  }
  
  #icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #icons a {
    font-size: 24px; 
    margin: 0 50px; 
  }
  
  #icons a:hover {
    color: #bbb; 
  }
  
  .footer_title p {
    margin: 0; 
    font-size: 14px; 
  }
  