body {
    font-family: 'Roboto', sans-serif;
}

.App {
    height: 100vh;
    width: 100vw;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}

/* ----------------------------------------- Header -----------------------------------------------*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C2D9FF;
    height: 60px;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 100;
}

.list-items {
    display: flex;
    padding: 0;
    margin: 0;
}

.list-item {
    list-style: none;
    margin-left: 20px;
}

.list-item a {
    text-decoration: none;
    padding: 20px 10px;
    border-radius: 0.5rem;
}

/* ----------------------------------------- Home ------------------------------------------------*/
.home-content {
    padding-left: 20rem;
    margin-top: 13rem;
}

.home-title {
    font-size: 5rem;
}

.home-description {
    font-size: 2rem;
    padding-left: 1rem;

}

.home-button {
    padding-left: 1rem;
}